.home {
    height: 100%;
    max-width: 100%;
    background: url(https://s3-us-west-1.amazonaws.com/proudfoots-beerly/_husxn5c0iq-jakob-owens.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo {
  color: white !important;
}

.container {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;

  /*align-items: center;*/
  /*justify-content: center;*/
}

.intro {   
  width: 25%;
  margin: 70px 76px;
}

.action {   
  color: white !important;
}

.searchField {
  width: 50%;
}

.register {
  top: 0;
  right: 0;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}

.logIn {
  top: 0;
  right: 0;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}
